name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Run a one-line script
        run: echo Hello, world!

      - name: Run ssh
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.WEB_SSH_HOST }}
          username: ${{ secrets.WEB_SSH_USERNAME }}
          key: ${{ secrets.WEB_SSH_KEY }}
          script: ${{ secrets.WEB_SSH_DEPLOY_COMMAND }}
